<% cache("views/spree/products/product/#{product.product_cache_key}") do %>
  <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="item">
      <!-- Item image -->
      <div class="item-image">
        <%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
      </div>
      <!-- Item details -->
      <div class="item-details">
        <!-- Name -->
        <h5>
          <%= link_to truncate(product.name, :length => 25), url,
            :class => 'info', :itemprop => "name", :title => product.name %>
          </h5>
        <!-- Para. Note more than 2 lines. -->
        <p><%= truncate(product.description, length: 60)%></p>
        <hr />
        <!-- Price -->
        <div class="item-price pull-left"><%= display_price(product) %></div>
        <!-- Add to cart -->
        <%= form_for :order, :url => populate_orders_path do |f| %>
          <%= hidden_field_tag "variant_id", product.master.id %>
          <%= hidden_field_tag "quantity", 1 %>
          <div class="pull-right">
            <%= button_tag :class => 'btn btn-danger btn-sm', :id => 'add-to-cart-button',
              :type => :submit do %>
              <%= Spree.t(:add_to_cart) %>
            <% end %>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<% end %>