<% if spree_sliders_count > 0 %>
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% (0..spree_slider_count_to_indicator).each do |index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <%= raw 'class="active"' if index.zero? %> ></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!-- Item -->
      <% @slides.each_with_index do |slide, index| %>
        <%= render_slide_image slide, index %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
<% end %>

<div class="hero">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <!-- Catchy title -->
            <h3>It<span class="color">'</span>s Lorem ipsum <span class="color">dolor</span> sit amet consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique est sit amet diam interdum semper. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p>
         </div>
      </div>
    <div class="sep-bor"></div>
   </div>
</div>

<div class="shop-items blocky">
  <div class="container">
    <div class="section-title">
      <h4><i class="fa fa-desktop color"></i> &nbsp;Popular</h4>
    </div>
    <% cache(cache_key_for_popular_products) do %>
      <% @popular_products.each_slice(4).each do |popular_products| %>
        <div class="row">
          <%= render partial: 'spree/shared/product', collection: popular_products %>
        </div>
      <% end %>
    <% end %>
 </div>
</div>


<!-- Catchy starts -->
<div class="catchy blocky">
   <div class="catchy-inner1">
      <div class="catchy-inner2">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="catchy-subscribe">
                     <h3>¡Unete!</h3>
                     <p>Lorem tristique est sit amet diam ipsum  dolor sit  diam interdum diam ipsum  dolor sit diam ipsum  dolor sit tristique semper.</p>
                     <br />
                     <form class="form-inline" role="form">
                       <div class="form-group">
                         <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Ingresa tu email">
                       </div>
                       <button type="submit" class="btn btn-danger">Suscribirse</button>
                     </form>

                  </div>
               </div>
               <div class="col-md-7">

                  <div class="report">
                     <div class="report-bor">
                        <div class="row">
                           <!-- Report data starts -->
                           <div class="col-md-4 col-sm-4">
                              <div class="report-data">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                       <!-- Icon -->
                                       <div class="report-icon">
                                          <i class="fa fa-group color"></i>
                                       </div>
                                    </div>
                                    <div class="col-md-8 col-md-8 col-xs-8">
                                       <!-- Details -->
                                       <span class="report-big color">40,000</span> <span>Clientes</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Report data ends -->

                           <!-- Report data starts -->
                           <div class="col-md-4 col-sm-4">
                              <div class="report-data">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                       <!-- Icon -->
                                       <div class="report-icon">
                                          <i class="fa fa-calendar color"></i>
                                       </div>
                                    </div>
                                    <div class="col-md-8 col-md-8 col-xs-8">
                                       <!-- Details -->
                                        <span>Desde</span><span class="report-big color">1857</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Report data ends -->

                           <!-- Report data starts -->
                           <div class="col-md-4 col-sm-4">
                              <div class="report-data">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                       <!-- Icon -->
                                       <div class="report-icon">
                                          <i class="fa fa-android color"></i>
                                       </div>
                                    </div>
                                    <div class="col-md-8 col-md-8 col-xs-8">
                                       <!-- Details -->
                                       <span class="report-big color">30,000</span> <span>Ingresos</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Report data ends -->

                        </div>

                        <hr class="hidden-xs">

                        <div class="row">

                           <!-- Report data starts -->
                           <div class="col-md-4 col-sm-4">
                              <div class="report-data">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                       <!-- Icon -->
                                       <div class="report-icon">
                                          <i class="fa fa-building-o color"></i>
                                       </div>
                                    </div>
                                    <div class="col-md-8 col-md-8 col-xs-8">
                                       <!-- Details -->
                                       <span class="report-big color">150 +</span> <span>Compañias</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Report data ends -->

                           <!-- Report data starts -->
                           <div class="col-md-4 col-sm-4">
                              <div class="report-data">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                       <!-- Icon -->
                                       <div class="report-icon">
                                          <i class="fa fa-signal color"></i>
                                       </div>
                                    </div>
                                    <div class="col-md-8 col-md-8 col-xs-8">
                                       <!-- Details -->
                                       <span class="report-big color">50.60%</span> <span>Crecimiento</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Report data ends -->

                           <!-- Report data starts -->
                           <div class="col-md-4 col-sm-4">
                              <div class="report-data">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                       <!-- Icon -->
                                       <div class="report-icon">
                                          <i class="fa fa-truck color"></i>
                                       </div>
                                    </div>
                                    <div class="col-md-8 col-md-8 col-xs-8">
                                       <!-- Details -->
                                       <span class="report-big color">100 +</span> <span>Empleados</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Report data ends -->

                        </div>

                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Catchy ends -->

<!-- Recent posts Starts -->

<div class="recent-posts blocky">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Section title -->
        <div class="section-title">
          <h4><i class="fa fa-desktop color"></i> &nbsp;Productos nuevos</h4>
        </div>

        <div id="item-carousel" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @recent_products.each_slice(4).each_with_index do |recent_products, index| %>
              <div class="item <%= 'active' if index.zero? %>">
                <div class="row">
                  <%= render partial: 'spree/shared/carrusel_product', collection: recent_products %>
                </div>
              </div>
            <% end%>
          </div>

          <!-- Controls -->
          <a class="left c-control" href="#item-carousel" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="right c-control" href="#item-carousel" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Recent posts Ends -->